/* Layout */
body{
    font-family: "Knewave", sans-serif;
}
.outer-container{
    width: 900px;
    height: 750px;
    margin: auto;
    background-color: linen;
    background-image: url(../assets/background.png);

}
.header-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.leftcolumn{
    grid-column: 1/2;
}
.hud{
    display: grid;
    justify-content: center;
    grid-column: 2/3;
}
.shop-container{
    grid-column: 3/4;
}
.shop-title{
    display: grid;
    justify-content: center;
}
.shop{
    display: grid;
    display: inline-block;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

#shop_Resolve{
grid-column: 1/2;
}
#shop_Wonder{
    grid-column: 2/3;
}
.stat{
    font-weight: bolder;
}

.stat::first-letter{
    font-size: larger;
    color: brown;
}
#game-board-container{
    position: relative;
    margin: auto;
    background-image: url(../assets/background.png);

}
#overlay{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: saddlebrown;
    z-index: 100;
    transition: .5s;
}

/* Tiles */
#player, #wonder, #artifact, #stairs, #mystery{
    border: 0;
    z-index: 50;
    position: absolute;
    background-color: transparent;
    top: 0px;
    left: 0px;
}

#player{
    z-index: 51;
}
.animate{
    transition: ease-in-out .25s;
}

.row{
    display: flex;
}

.tile{
    image-rendering: pixelated;
    z-index: 0;    
    display: block;
    background: url(../assets/SpriteSheet.png) no-repeat;
}

/* Rotation */
.rotate_1{
    transform: rotate(90deg);
}

.rotate_2{
    transform: rotate(180deg)
}

.rotate_3{
    transform: rotate(2700deg)
}
