/* Layout */
#game-board-container{
    position: relative;

    background-color: linen;
    background-image: url(../assets/background.png);

}
.row{
    display: flex;
}

/* Tiles */
#player{
    transition: ease-in-out .25s;
    opacity: 0;
    border: 0;
    z-index: 50;
    position: absolute;
    background-color: transparent;
    top: 0px;
    left: 0px;
}
.tile{
    image-rendering: pixelated;
    z-index: 0;    
    display: block;
    background: url(../assets/SpriteSheet.png) no-repeat;
}

/* Rotation */
.rotate_1{
    transform: rotate(90deg);
}

.rotate_2{
    transform: rotate(180deg)
}

.rotate_3{
    transform: rotate(2700deg)
}
